.justify-center {
  justify-content: center;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: black;
  text-transform: uppercase;
  background-color: rgb(88, 179, 221);
  cursor: pointer;
  transition: background-color 0.15s ease;
  border-radius: 0.25rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal {
  outline: black;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75rem;
}

.justify-between {
  justify-content: space-between;
}

.align-text {
  text-align: center;
}

.full-flex {
  flex-basis: 100%;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.margin-right {
  margin-right: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.padding-2em {
  padding: 2em;
}

.no-padding {
  padding: 0;
}
